  <header>
    <nav class="navbar">
      <a href="/" class="logo">Ankit K C</a>
      <ul class="nav-links">
        <li><a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">Home</a></li>
        <li><a href="/project" class="<%= activePage === 'project' ? 'active' : '' %>">Projects</a></li>
        <li><a href="/blogs" class="<%= activePage === 'blogs' ? 'active' : '' %>">Blogs</a></li>
        <li><a href="/research" class="<%= activePage === 'research' ? 'active' : '' %>">Research</a></li>
        <li><a href="/about" class="<%= activePage === 'about' ? 'active' : '' %>">About</a></li>
        <li><a href="/contact" class="<%= activePage === 'contact' ? 'active' : '' %>">Contact</a></li>
      </ul>
    </nav>
  </header>